* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(to bottom, rgb(241, 244, 253, 0.07) 0%, rgba(218,70,239,0.05) 42%, rgba(99,101,241,0.1) 100%);

}

.header {
    width: 1920px;
    height: 76px;
    padding-left: 312px;
    padding-right: 312px;
    position: fixed;
    top: 0;
    left: 0;
    .navbar {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 76px;
        padding-top: 16px;
        justify-content: space-between;
        
    }
    

}


.Siliconlogga

{
    display: flex;
    gap: 3rem;

}

.features {
    cursor: pointer;
    text-decoration: none;
    color: #33354D;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.darkmode {
    color: #565973;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
  
}


.navright {
    display: flex;
    gap: 1rem;

}

.toggle-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    display: flex;
}

.button1 {
    background-color: #9397AD;
    width: 46px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
}

.button1::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin: 2px;
}
input{
    display: none;
}

.btnsignin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6366F1;
    color: #fff;
    border-radius: 4px;
    width: 166px;
    height: 36px;
    font-family: 'Manrope', sans-serif;
    border: none;
    gap: 0.5rem;
    cursor: pointer;
    
}

.signinarrow, .signinicon {
    display: flex;
}


.headertitle {
    display: grid;
    padding-left: 312px;

}

.headermanage {
    font-size: 56px;
    font-weight: 800;
    color: #0B0F19;
    padding-bottom: 1.5rem;
    padding-top: 224px;
    
}

.headersubtitle {
    color: #565973;
    font-size: 18px;
    gap: 1.5rem;
    padding-bottom: 3rem;
}

.appbilder {

}

.applestore {
    cursor: pointer;
}

.googleplay {  
    padding-left: 1rem;
    cursor: pointer;
}

.iphone2x {
    display: block;
    margin-left: auto;
    
}

